.btn {
    width: 100px;
    height: 100px;
    font-size: 32px;
}

.btn.gap {
    margin-left: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

#display {
    width: 410px;
    height: 100px;
    background-color: lightgray;
    position: relative;
}

.bottom-right-text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 5px;
    font-size: 64px;
}